<div class="container-fluid">
  <div class="row">
    <div class="pending-homepage employee-blocks">
      <h3>Pending Your Confirmation</h3>

      <%= render partial: 'audit_confirmation', locals: { pending_audits: @pending_audits } %>
    </div>
    <div class="pending-homepage employee-blocks">
      asdf
    </div>
  </div>
</div>
